# build output
dist/
# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# test files
test-*.js
check.*

# environment variables
.env
.env.production
.env.*
.env.development

# OS files
.DS_Store